<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

    <extension point="org.jkiss.dbeaver.generic.meta">
        <meta id="sqlmx" 
        class="org.jkiss.dbeaver.ext.sqlmx.model.SqlmxMetaModel" 
        driverClass="com.tandem.t4jdbc.SQLMXDriver"/>
    </extension>

</plugin>
